@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .text-gray-100 {
    color: #999;
  }
  .text-blue {
    color: #2F80ED;
  }
  .bg-blue-500 {
    background-color: #007AFF;
  }
  .bg-blue-100{
    background-color: #F1F8FF;
  }
  .text-gray-600 {
    color: #4F4F4F;
  }
  .text-gray-700 {
    color: #333333;
  }
  .bg-gray-100{
    background-color: #BDBDBD;
  }
  .bg-gray-500{
    background-color: #F8F8F8;
  }
  .bg-gray-600{
    background-color: #4F4F4F;
  }
  .bg-gray-700{
    background-color: #333333;
  }
  .text.black-900{
    color: #090909;
  }
}